L
Ltree
N
cpu.prof
eval.key
eval.storage
gs0
mem.prof
roots
solution
solution.txt
vdf/merkletree
vdf/out.txt
vdf/out0.txt
vdf/out1.txt
vdf/out2.txt
vdf/out3.txt
vdf/out4.txt
vdf/out5.txt
veri.key
veri.storage
verify.key
tags

.DS_Store 
*.pdf 
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
